body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  background-image: url(/hn.jpg);
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
  border-radius: 5px;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #ffffff;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 30px;
  transition: 0.1s;
}

.balloons {
  position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.balloon-1>img
{
  padding-top: 100px;
  width: 300px;
  height: auto;
}



.cardInside {
  position: absolute;
  background-color: #ffffff;
  width: 250px;
  height: 350px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(55, 55, 55, 0.234);
}

p {
  font-family: "Brush Script MT", cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #000000;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #13aad3;
  text-align: center;
  margin: 30px;
  
}
